body {
    font-family: 'Baloo Chettan 2', cursive;
    margin: 0;
    background-color: #f7f9f6;
}

.menu-image {
    width: 70px; 
    height: 70px; 
    background-image: url('menu.png'); background-size: 100%; background-repeat: no-repeat;
}

.menu-img:hover, li:hover {cursor: pointer;}

/* Menu-div */

.menu {
    top: 0px;
    left: 0px;
    width: 300px;
    overflow: hidden;
    display: none;
    font-size: 30px;
    position: fixed;
    z-index: 2;
    transform: 0.6s;
}

/* UL - list and li's */

ul {
    margin-top: 0px;
    margin-left: -40px; 
    list-style-type: none;
}

li {
    width: 300px; 
    padding: 20px; 
}

/* uiterlijk van de text */

.h1-text {width: 100%; font-size: 13vw; text-align: center;}